---
// import AvailableGames from "../components/AvailableGames.astro";
import BgAnimation from "../components/BgAnimation.astro";
import UpcomingGames from "../components/UpcomingGames.astro";
import './index.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>ransilad's games</title>
	</head>
	<body class="h-full text-white">
		<BgAnimation />
		<div class="w-10/12 md:w-2/3 mx-auto py-10 relative">
			<!-- <AvailableGames /> -->
			<UpcomingGames />
		</div>
	</body>
</html>
